@model BusTicket.Models.Ruta

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdRuta" />
    <div class="form-group">
        <label asp-for="Origen" class="control-label"></label>
        <input asp-for="Origen" class="form-control" />
        <span asp-validation-for="Origen" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Destino" class="control-label"></label>
        <input asp-for="Destino" class="form-control" />
        <span asp-validation-for="Destino" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FechaViaje" class="control-label"></label>
        <input asp-for="FechaViaje" class="form-control" />
        <span asp-validation-for="FechaViaje" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TipoServicio" class="control-label"></label>
        <input asp-for="TipoServicio" class="form-control" />
        <span asp-validation-for="TipoServicio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Guardar cambios</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
